* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  height: 100vh;
  /* width: 100vw; */
  background-size: cover;
}

h1, h2, p {
  padding: 0;
  margin: 0;
}

p {
  color: white;
  font-size: 24px;
}

::placeholder {
  color: #999;
}

#city,
.toggle,
.submit {
  border-radius: 16px;
  padding: 8px 12px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.toggle,
.submit {
  cursor: pointer;
}

#city:focus-visible {
  outline: none;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 48px 32px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

